.movie-detail {
  position: relative;
  z-index: 0;

  &__modal {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.75);
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    &--body {
      position: relative;
      background-color: white;
      height: 35rem;
      width: 60%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding: 3rem;
      z-index: 100;
    }
  }
  &__content {
    height: 22rem;

    border-radius: 10px 10px 0;
    width: 100%;
    z-index: 110;
    display: grid;
    grid-template-columns: 25% 75%;
  }

  &__main-image--div {
    width: 100%;
    height: 20rem;
  }

  &__main-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }

  &__info {
    padding: 2rem 0 0 2.5rem;
    display: grid;
    grid-template-rows: 10rem;
  }

  &__title {
    color: white;
    font-size: 2.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
  }

  &__year {
    color: white;
    opacity: 0.8;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  &__rating {
    margin-left: 1rem;
    color: black;
    font-weight: 700;
    font-size: 0.8rem;
    background-color: #2196f3;
    padding: 4px 6px;
    border-radius: 5px;
    margin-top: 8px;

    &--span {
      color: white;
    }
  }

  &__description {
    font-size: 1.1rem;
    font-weight: 300;
    opacity: 0.6;
    overflow-y: scroll;
    max-height: 9rem;
  }

  &__background-image--div {
    position: absolute;
    top: -0.5px;
    left: 0;
    width: 100%;
    height: 18rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    border-radius: 10px 10px 0 0;
  }

  &__background-image {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    filter: brightness(35%);
  }

  &__back-button {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: ease-in 0.15s;

    &:hover {
      color: #2196f3;
    }
  }
}

@media screen and (max-width: 1150px) {
  .movie-detail {
    &__modal--body {
      padding: 3rem 2rem;
      width: 75%;
    }
  }
}

@media screen and (max-width: 950px) {
  .movie-detail {
    &__modal--body {
      width: 95%;
    }

    &__content {
      grid-template-columns: 30% 70%;
    }
  }
}

@media screen and (max-width: 600px) {
  .movie-detail {
    &__modal--body {
      width: 95%;
      padding: 1rem;
    }

    &__content {
      grid-template-columns: 40% 60%;
    }

    &__info {
      padding: 2rem 0 0 1.25rem;
    }

    &__rating {
      display: none;
    }
  }
}

@media screen and (max-width: 475px) {
  .movie-detail {
    &__modal--body {
      width: 95%;
      padding: 1rem;
    }

    &__main-image--div {
      display: none;
    }

    &__info {
      grid-template-rows: 11rem;
    }

    &__content {
      display: flex;
    }
  }
}
