.navbar {
  background-color: #010b26;
  // width: 100vw;

  &__list {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 4rem;
  }

  &__item {
    list-style: none;
    font-size: 1.25rem;

    &--left {
      flex: 1;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    padding: 1.3rem;
    font-weight: 500;

    &--logo {
      font-family: "Big Shoulders Stencil Display", cursive;
      letter-spacing: 1.5px;
      font-size: 2.25rem;
      padding: 0.5rem;
    }

    &--blue {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      background-color: #2196f3;
      padding: 0.5rem 0.75rem;
      border-radius: 8px;
      color: #010b26;
      font-weight: 600;
      margin-left: 1rem;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
