.results-card {
  display: flex;
  background-color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  width: 75%;

  &__img-div {
    width: 10rem;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px 0 0 8px;
  }

  &__content {
    position: relative;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #010b26;
    width: 100%;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 600;
    max-width: 90%;
  }

  &__rating {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #010b26;
    font-weight: 700;
    font-size: 1.1rem;

    &--span {
      color: #2196f3;
    }
  }

  &__description {
    font-size: 1.2rem;
    opacity: 0.65;
    font-weight: 300;
  }

  &__buttons {
    margin-top: auto;
    display: flex;
    gap: 1rem;

    & button {
      border: none;
      color: #2196f3;
      background-color: white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border: 1px solid #2196f3;
      padding: 0.75rem 1.75rem;
      border-radius: 8px;
      font-weight: 600;
      font-size: 0.9rem;
      cursor: pointer;
      margin-bottom: 0.5rem;

      &:hover {
        opacity: 0.7;
        // text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6abcea;
      }
    }
  }

  &__button--disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

@media screen and (max-width: 1200px) {
  .results-card {
    width: 90%;
  }
}

@media screen and (max-width: 750px) {
  .results-card {
    width: 95%;

    &__content {
      padding: 0.75rem;
      gap: 0.2rem;
    }

    &__title {
      font-size: 1.2rem;
      margin-left: 0.5rem;
      max-width: 75%;
    }

    &__description {
      margin-left: 0.5rem;
      font-size: 0.9rem;
    }

    &__rating {
      font-size: 0.8rem;
    }

    &__buttons {
      gap: 0.35rem;

      & button {
        padding: 0.5rem 0.25rem;
        font-size: 0.65rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .results-card {
    &__content {
      padding: 0.75rem 0.5rem 0.2rem 0.5rem;
    }

    &__buttons button {
      font-size: 0.6rem;
    }
  }
}
