.results-card {
  display: flex;
  background-color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  width: 75%;

  &__img-div {
    width: 10rem;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    display: block;
    max-height: 11.5rem;
    border-radius: 8px 0 0 8px;
  }

  &__content {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #010b26;
    width: 100%;
  }

  &__title {
    position: relative;
    font-size: 1.75rem;
    font-weight: 600;
  }

  &__rating {
    position: absolute;
    right: 5px;
    margin-top: 0.5rem;
    color: #010b26;
    font-weight: 700;
    font-size: 1.1rem;

    &--span {
      color: #2196f3;
    }
  }

  &__description {
    font-size: 1.2rem;
    opacity: 0.65;
    font-weight: 300;
  }

  &__buttons {
    margin-top: auto;
    display: flex;
    gap: 1rem;

    & button {
      border: none;
      color: #2196f3;
      background-color: white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border: 1px solid #2196f3;
      padding: 0.75rem 1.75rem;
      border-radius: 8px;
      font-weight: 600;
      font-size: 0.9rem;
      cursor: pointer;
      margin-bottom: 0.5rem;

      &:hover {
        opacity: 0.7;
        // text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6abcea;
      }
    }
  }

  &__button--disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
