.watched {
  width: 90%;

  &__title {
    color: rgb(0, 40, 76);
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 2rem;
  }

  &__card {
    position: relative;
    width: 15rem;
    border-radius: 8px;
    // height: 25rem;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    display: block;
    max-height: 25rem;
    border-radius: 8px;
  }

  &__buttons {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;

    & button {
      font-size: 1rem;
      padding: 0.5rem 0.75rem;
      margin: 5px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      background-color: transparent;
      color: white;

      &:hover {
        background-color: white;
        color: rgb(0, 40, 76);
      }
    }
  }
}
