.watched {
  width: 90%;

  &__title {
    color: rgb(0, 40, 76);
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 2rem;
  }

  &__card {
    width: 15rem;
    border-radius: 8px;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    display: block;
    max-height: 25rem;
    border-radius: 8px;
  }
}
